body {
  background-color: #22225a;
}
.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  background: #181b53;
  border-radius: 6px;
}
#current-day {
  color: #f5fffd;
  text-align: center;
  font-family: "Comfortaa";
}

h1 {
  font-size: 45px;
  font-weight: bold;
}
.weather-description {
  font-size: 15px;
  font-weight: 100;
  color: #f58886;
}
#description {
  font-size: 13px;
  color: #f58886;
}
h2 {
  font-weight: bold;
  font-size: 55px;
}
.units {
  font-size: 15px;
}
h3 {
  font-weight: bold;
  font-size: 28px;
}
.active {
  color: #f5fffd;
  text-decoration: none;
  cursor: default;
}
.inactive {
  color: #f58886;
  text-decoration: none;
  cursor: default;
}
.forecast-maximum {
  font-size: 16px;
  color: #f58886;
  font-weight: bold;
}
.forecast-minimum {
  font-size: 11px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
li {
  margin: 0 20px;
}
.forecast {
  color: #f5fffd;
  text-align: center;
  font-family: "Comfortaa";
}
.forecast-details {
  font-size: 12px;
}
.day-of-the-week {
  font-size: 20px;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}
.search-bar {
  font-family: "Comfortaa";
}
#current-time {
  color: #f58886;
  text-align: left;
  margin-left: 20px;
  font-size: 22px;
}
#separator {
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
footer {
  text-align: center;
  margin: 6px;
  font-size: 11px;
  color: #6b728e;
  font-family: "Montserrat Alternates", sans-serif;
}
.gitHubLink {
  text-decoration: none;
  font-weight: normal;
  color: #f58886;
  opacity: 90%;
}
.gitHubLink:hover {
  font-weight: normal;
  color: #f5fffd;
}
.profile {
  text-decoration: none;
  font-weight: normal;
  color: #f5fffd;
  opacity: 90%;
}
.profile:hover {
  color: #f58886;
  font-weight: normal;
}

.search-form {
  display: inline-block;
  border: solid 1px #22225a;
  padding: 3px 5px;
  border-radius: 2px;
  width: 260px;
  margin-top: 1px;
  box-shadow: 0 1px 0px rgb(0 0 0 / 10%);
  background: #22225a;
}
.search-field {
  background: #f5fffd;
  padding: 6px 6px 6px 6px;
  width: 180px;
  height: 35px;
  border: solid 1px #cacedc;
  outline: none;
  font-size: 13px;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
}
.search-button {
  color: #181b53;
  font-weight: bold;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
  border: solid 1px #181b53;
  font-size: 13px;
  height: 36px;
  width: 60px;
  border-radius: 2px;
  background: #f5fffd;
}
.search-button:hover {
  background: #f58886;
}

.current-button {
  color: #181b53;
  margin-top: 5px;
  border: solid 1.5px #f58886;
  font-size: 13px;
  font-weight: bold;
  height: 35px;
  width: 130px;
  border-radius: 2px;
  background: #f58886;
  margin-left: 15px;
}
.current-button:hover {
  background: #f5fffd;
  border: solid 1.5px #f5fffd;
}
