body {
}
.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #653;
}
h1 {
}
li {
  list-style: none;
}
footer {
  text-align: center;
  margin: 6px;
  font-size: 11px;
  color: #393e46;
  font-family: "Montserrat Alternates", sans-serif;
}
.gitHubLink {
  text-decoration: none;
  font-weight: bold;
  color: #7f167f;
  opacity: 90%;
}
.gitHubLink:hover {
  font-weight: bold;
  color: #cb1c8d;
}
.profile {
  text-decoration: none;
  font-weight: bold;
  color: #2a3990;
  opacity: 90%;
}
.profile:hover {
  color: #7f167f;
  font-weight: bold;
}
